<h2>Comments</h2>

<div id="comments">
    <%= render post.comments %>
</div>

<% if user_signed_in? %>
    <%= render "comments/new", post: post %>
<% else %>
    <p>You need to be logged in to comment.</p>
<% end %>
